.slick-arrow {
    background-color: #fff;
    border: none;
    box-sizing: border-box;
    height: 50px;
    width: 30px;
    position: absolute;
    top: calc(50% - 25px);
    font-size: 0;
    transition: ease 0.4s;
    outline: none !important;
}

.slick-prev {
    left: -40px;
    background-image: url(../img/arrow-left.svg);
    background-repeat: no-repeat;
    background-position: contain;
}

.slick-next {
    right: -40px;
    background-image: url(../img/arrow-right.svg);
    background-repeat: no-repeat;
    background-position: contain;
}

.slick-disabled {
    opacity: 0.1;
    cursor: default !important;
}







.slick-dots {
    list-style-type: none;
    margin: 0;
    padding: 0;

    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.slick-dots button {
    display: block;

    width: 15px;
    height: 15px;
    margin: 0 8px;
    padding: 0;
    box-sizing: border-box;

    cursor: pointer;
    transition: .6s ease;

    border-radius: 50%;
    background-color: #8c949493;
    border: none;
    outline: none;
}

.slick-dots button:hover {
    background: tomato;
}

.slick-dots .slick-active button {
    background: #5dca88;
}


.slick-slide:focus {
    outline: none !important;
}