/* ===== fonts ===== */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import url('../fonts/kust.font/stylesheet.css');
@import url('../fonts/aristotelica/stylesheet.css');
@import url('../fonts/evolve_sans/stylesheet.css');

/* @import "http://fonts.fontstorage.com/import/colortube.css"; */
/* @import "http://fonts.fontstorage.com/import/fregat.css"; */
/* ===== fonts END ===== */
html,
body{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Inter UI", "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
    font-size: 1rem;
    line-height: 1.4;
    /* min-height: 2000px; */

    /* min-width: 1200px; */

    background-color: #1b2129;

    color: #fff;
}

h1,h2,h3,h4{
    font-family: 'arial black';
    letter-spacing: -.12rem;
}

.heading{
    /* font-family: 'Fregat'; */
    font-size: 50px;
    line-height: 1.3;
    /* font-weight: 300; */
    /* line-height: 1.1; */
}

*:focus{
    outline: none;
}

a{
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    text-decoration: none;
    color: #fff;
}

a:hover{
    color: tomato;
    background: rgba(0, 0, 0, 0.7);
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.wrapper--global{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding-left: 2rem;
    padding-right: 2rem;
}

.visually-hidden:not(:focus):not(:active){
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    white-space: nowrap;

    border: 0;

    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
}

*::-moz-selection{
    /* color: #fff; */
    color: #1b2129;
    /* background: #000; */
    background: yellow;
}

*::selection{
    /* color: #fff; */
    color: #1b2129;
    /* background: #000; */
    background: yellow;
}


















/* Animations */
@keyframes fadeUp_my {
    0%{
        opacity: 0;
        z-index: -5;
        pointer-events: none;
    }
    70%{
        opacity: 0;
        z-index: -5;
        pointer-events: none;
    }
    75%{
        pointer-events: none;
    }
    100%{
        opacity: 1;
    }
}

@keyframes overflowAtimate {
    0%{
        overflow: hidden;
    }
    99%{
        overflow: hidden;
    }
    100%{
        overflow: visible;
    }
}
/* Animations END */



































/* Header */
.page-header{
    /* position: fixed; */
    top: 0;
    left: 0;
    right: 0;
    /* box-shadow: inset 0 0 0 2px coral; */
    padding-top: 30px;
}

.page-header .wrapper--global,
.header__navigation{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;

    font-size: 16px;
    font-weight: 600;
}

.header__navigation li{
    margin: 0;
    padding: 0;
    margin-right: 5px;

}

.header__navigation a{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    /* box-shadow: inset 0 0 0 1px yellow; */
    position: relative;
    color: white;
    background: transparent;
}

.header__navigation a::after{
    content: '';
    position: absolute;
    bottom: 0;
    top: 5%;
    left: 0;
    /* width: 100%; */
    width: 0%;
    height: 1px;
    background: tomato;
    opacity: 0;
    transition: all 0.4s ease;
    z-index: -1;

    animation-name: fadeOutLink;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
}

.header__navigation a:hover::after,
.header__navigation a:focus::after{
    animation-name: linkHover;
    animation-duration: 0.6s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    opacity: 1;
}

@keyframes fadeOutLink {
    0%{
        width: 100%;
        height: 100%;
        opacity: 1;
    }
    99%{
        opacity: 0;
        width: 100%;
        height: 100%;
    }
    100%{
        opacity: 0;
        width: 0%;
        height: 1px;
    }
}

@keyframes linkHover {
    0%{
        width: 0%;
        height: 1px;
        background: tomato;
    }
    30%{
        width: 100%;
        height: 1px;
        background: tomato;
    }
    100%{
        height: 100%;
        width: 100%;
        background: tomato;
    }
}
/* Header END */









































/* Index Promo */
.index-promo{
    /* height: 100vh; */
    /* height: calc(100vh - 77px); */
    min-height: calc(100vh - 77px);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    justify-content: center;

    /* animation-name: overflowAtimate; */
    /* animation-duration: 2s; */
}

.promo-content{
    margin-bottom: 50px;
    width: 75%;
    min-width: 500px;

}

.heading{
    animation-delay: 0.5s !important;
}

.promo-caption{
    font-size: 30px;
    width: 75%;
    min-width: 500px;
    animation-delay: 1s !important;
}











































/* My Projects */
.selected-work{
    /* animation-name: fadeUp_my; */
    /* animation-duration: 5s; */
    /* animation-delay: 1s; */
}
.my-projects{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    /* position: relative; */
    width: 100%;
    /* margin-bottom: 1rem; */
    box-sizing: border-box;
}

.my-projects:last-child{
    margin-bottom: 0;
}

.projects-wrapper{
    /* position: relative; */
}

.heading--small{
    font-size: 24px;
    font-weight: 400;

    animation-name: fadeUp_my;
    animation-duration: 4s;
}

.my-projects li{
    padding-right: 20px;
    min-width: 150px;
    box-sizing: border-box;
}

.my-projects li p{
    margin: 0;
    padding: 0;
}

.my-projects li h3{
    margin: 0;
    font-size: 30px;
}

.project-bg{
    width: 100%;
    /* width: 10%; */
    left: 0;
    top: 0;
    /* bottom: 0; */
    /* right: 0; */
    height: 100vh;
    /* height: 10px; */
    object-fit: cover;
    z-index: -1;
    position: absolute;
    filter: brightness(0.5);
    opacity: 0;
    transition: all 0.6s ease;
}

.my-projects a{
    display: inline-block;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    z-index: 5;

    animation-name: fadeUp_my;
    animation-duration: 5s;
}

.my-projects a:hover + .project-bg{
    opacity: 1;
    /* width: 100%; */
    /* height: 100vh; */
    /* z-index: 2; */
}
/* My Projects END */





.header__logo {
    font-family: 'MADE Evolve Sans EVO', 'Lato', sans-serif;
    font-size: 56px;
    line-height: 1;
    text-transform: uppercase;
}
.header__logo:hover,
.header__logo:active,
.header__logo:focus {
    background: transparent;
}

* {
    box-sizing: border-box;
}