body{
    font-family: 'Proxima Nova Rg', 'Arial', sans-serif;

    min-height: 2000px;
    /* font-weight: bold; */

    transition: all 1s ease-out;

    background-color: slategrey;
}

*{
    box-sizing: border-box;
}

/* Page promo*/
.page-promo{
    height: 100vh;
    /* padding-top: 50px; */
    /* padding-bottom: 100px; */

    color: white;
    background-color: #d3271e;
    background-image: url(img/headerbg.jpg), linear-gradient(45deg, rgba(203, 0, 53, 1.0), rgba(224, 105, 0, 1));
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    /* background-size: 1920px; */
}

.wrapper--global{
    max-width: 1360px;
    margin: auto;
}

.hidden{
    visibility: hidden;
}

/* header */
.header{
    /* height: 100vh; */
    position: relative;
    top: 0;

    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;
            flex-direction: row;
    /* width: 100%; */

    margin: auto;
    margin-bottom: 160px;
    padding-top: 40px;
    padding-right: 10px;
    padding-left: 10px;

    -webkit-flex-direction: row;
       -moz-flex-direction: row;
        -ms-flex-direction: row;
         -o-flex-direction: row;
    justify-content: space-between;
}

.header .logo{
    font-size: 36px;
    line-height: 24px;

    margin: auto auto auto 0;

    cursor: default;
    text-align: center;
}

.header ul{
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;
            flex-direction: row;

    margin: 0;

    list-style: none;

    -webkit-flex-direction: row;
       -moz-flex-direction: row;
        -ms-flex-direction: row;
         -o-flex-direction: row;
    justify-content: space-around;
}
.header ul a{
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;

    display: block;

    margin: auto 5px auto 5px;
    padding: 10px 20px 10px 20px;

    transition: .4s;
    text-decoration: none;
    letter-spacing: .1em;

    color: rgba(255, 255, 255, .6);
    border-left: 1px solid transparent;
}
.header ul:hover a{
    color: rgba(255, 255, 255, .4);
}
.header ul a:hover{
    padding-left: 16px;

    color: rgba(255, 255, 255, 1);
    border-left: 5px solid white;
}


/* Promo content */
.promo-content{
    margin: 18.5vh auto auto auto;

    text-align: center;
}

.heading{
    font-size: 48px;
    line-height: 36px;
}

.promo-content p{
    font-size: 18px;

    color: rgba(255, 255, 255, .7);
}

.ask-and-watch{
    margin-top: 60px;
}

/* buttons */
.button{
    font-size: 18px;

    margin-right: 10px;
    margin-left: 10px;
    padding-top: 12px;
    padding-right: 50px;
    padding-bottom: 12px;
    padding-left: 50px;

    transition: .4s;
    text-decoration: none;

    color: white;
    border: 1px solid white;
    border-radius: 30px;
}

.button--promo:hover{
    color: #d32721;
    background: white;
}

.button--watch{
    padding-right: 40px;
    padding-left: 60px;

    background: url('img/play-icon-button.png') no-repeat 30px center;
}

.button--watch:hover{
    background: white url('img/play-icon-button-red.png') no-repeat 30px center;
}


.scroll-button{
    font-size: 14px;

    position: absolute;
    bottom: 30px;
    left: 46.5vw;

    display: block;

    width: 85px;
    height: 15px;
    margin: auto;
    margin-top: 50px;
    padding-top: 60px;

    transition: .4s;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;

    opacity: .3;
    color: white;
    background: url('img/scroll-icon.png') no-repeat top center;
}

.scroll-button:hover{
    opacity: 1;
}



/* advantages */
.advantages{
    background-color: #f6f6f6;
}

.advantages .wrapper{
    max-width: 1250px;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;

    text-align: center;
}

.gradient-heading{
    color: #cb0035;
    background: linear-gradient(75deg, rgba(203, 0, 53, 1.0) 0%, rgba(224, 105, 0, 1) 100%);
    -webkit-background-clip: text;
            background-clip: text;

    -webkit-text-fill-color: transparent;
}

.advanages__container{
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;
            flex-direction: row;

    text-align: center;

    -webkit-flex-direction: row;
       -moz-flex-direction: row;
        -ms-flex-direction: row;
         -o-flex-direction: row;
    justify-content: space-between;
}

.advantage__item{
    width: 20%;
    padding-top: 115px;
    padding-right: 0;
    padding-left: 0;

    cursor: default;
    transition: .4s;

    background: #d160ff;
}
.advantage__item:hover{
    /* margin-top: -20px; */
}

.advantage__item p{
    font-size: 18px;
    line-height: 25px;

    color: #5e6372;
}
/*bg-icons*/
.advantages--from-air{
    background: url('img/from-air.png') no-repeat top center;
}
.advantages--best-drones{
    background: url('img/best-drones.png') no-repeat top center;
}
.advantages--speed{
    background: url('img/speed.png') no-repeat top center;
}
.advantages--long-range{
    background: url('img/long-range.png') no-repeat top center;
}

.button--ask--blue{
    position: relative;
    z-index: 100;

    display: inline-block;

    margin-top: 100px;

    color: white;
    border: none;
    background-image: linear-gradient(45deg, rgba(38, 70, 153, 1.0), rgba(73, 100, 169, .8));
    background-size: 100%;
}
.button--ask--blue::before{
    position: absolute;
    z-index: -100;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    content: '';
    transition: opacity .45s;

    opacity: 0;
    border-radius: inherit;
    background-image: linear-gradient(45deg, rgba(203, 0, 53, 1.0), rgba(224, 105, 0, 1));
}
.button--ask--blue:hover::before{
    opacity: 1;
}



/* nature-from-air */
.nature-from-air{
    /* background: white; */
    background: white url('img/drone-bg.jpg') no-repeat 110% center;
    -webkit-background-size: cover 70%;
    background-size: cover 70%;
}

.nature-from-air .wrapper{
    max-width: 1250px;
    margin: auto;
    padding-top: 120px;
    padding-bottom: 110px;

    
}

.nature-from-air__container{
    width: 67%;
    margin: auto auto auto 0;
}

.gradient-heading--big{
    font-size: 48px;

    margin-top: 0;
    margin-bottom: 30px;
}

.nature-from-air p{
    font-size: 18px;
    line-height: 30px;

    width: 90%;

    color: #5e6372;
}

.list-wrap ol{
    margin-top: 60px;
    margin-left: 20px;

    list-style-position: inside;
    list-style-type: none;

    counter-reset: ordered;

    color: #a7acbc;

       -moz-column-count: 2; /* Firefox */
    -webkit-column-count: 2; /* Safari and Chrome */
            column-count: 2;
}

.list-wrap li{
    /* color: white; */
    font-size: 20px;

    margin-bottom: 20px;
    /* font-family: 'Roboto', sans-serif; */
}

.list-wrap li::before{
    font-weight: 100;

    position: absolute;

    display: inline-block;

    box-sizing: border-box;
    width: 50px;
    height: 50px;
    margin-top: 7px;
    margin-left: -60px;
    padding: 13px 17px;

    content: counter(ordered);
    counter-increment: ordered;

    color: #3f4e76;
    border: 2px solid #c7cde0;
    border-radius: 100%;
}

.list-wrap .first-column{
    /* width: 52%; */
    padding-right: 50px;
    /* background: red; */
}
.list-wrap .second-column{
    margin-bottom: 50px;
    /* width: 40%; */
    margin-left: 50px;
    padding-top: 10px;
}


/* portfolio */
.portfolio{
    background-color: #f6f6f6;
}

.wrapper{
    /* max-width: 1300px; */
    margin: auto;
    /* padding-top: 100px; */
    /* padding-bottom: 100px; */
}

.portfolio .wrapper{
    /* background: orange; */
}

.portfolio-list{
    display: block;

    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;

    list-style-type: none;
    /* background: #ffc500; */
}

.portfolio-item{
    display: block;
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;
            flex-direction: row;

    box-sizing: border-box;

    -webkit-flex-direction: row;
       -moz-flex-direction: row;
        -ms-flex-direction: row;
         -o-flex-direction: row;
}

.portfolio-item:nth-child(2n){
            flex-direction: row-reverse;

    -webkit-flex-direction: row-reverse;
       -moz-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
         -o-flex-direction: row-reverse;
}

.portfolio-item .portfolio-video,
.portfolio-item .portfolio-caption{
    box-sizing: border-box;
    width: 50vw;
    /* background: #3590c4; */
    min-height: 60vh;
    padding: 50px;
}

.portfolio-item .portfolio-video{
    background: #e1cc83;
}

.portfolio-item:nth-child(1) .portfolio-video{
    background: #3e3830 url('img/portfolio-bg-1.jpg') no-repeat top right;
    -webkit-background-size: cover;
            background-size: cover;
}

.portfolio-item:nth-child(2) .portfolio-video{
    background: #3e3830 url('img/portfolio-bg-2.jpg') no-repeat top left;
    -webkit-background-size: cover;
            background-size: cover;
}

.portfolio-item .portfolio-caption .button--ask--blue{
    margin: 0;
}

.portfolio-item .portfolio-caption{
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;
}

.portfolio-item .portfolio-caption .caption-container{
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;
            flex-direction: column;

    -webkit-flex-direction: column;
       -moz-flex-direction: column;
        -ms-flex-direction: column;
         -o-flex-direction: column;
    justify-content: center;
}

.portfolio-item .portfolio-caption .caption-container .gradient-heading{
    margin: 0;
}

.portfolio-item .portfolio-caption .caption-container p{
    font-size: 18px;
    line-height: 25px;

    width: 550px;
    margin-top: 15px;
    margin-bottom: 30px;

    color: #5e6372;
}

.portfolio-item:nth-child(2) .portfolio-caption{
    justify-content: flex-end;
}

.portfolio-item:nth-child(2) .portfolio-video__play-button{
    /* left: 45.5%; */
}

.portfolio-video__play-button{
    position: relative;
    top: 48%;
    right: -45.6%;

    display: block;

    width: 50px;
    height: 50px;

    transition: .4s;

    border-radius: 100%;
    background: green;
    /* border: 1px solid white; */
    background: rgba(94, 99, 114, .2) url('img/play-icon-button.png') no-repeat 55% center;
}
.portfolio-video__play-button:hover{
    background: rgba(255, 255, 255, .4) url('img/play-icon-button-red.png') no-repeat 55% center;
    -webkit-box-shadow: 0 0 35px 0 rgba(0,0,0,.75);
       -moz-box-shadow: 0 0 35px 0 rgba(0,0,0,.75);
            box-shadow: 0 0 35px 0 rgba(0,0,0,.75);
}



/* newsletter */
.newsletter{
    position: relative;

    box-sizing: border-box;
    height: 500px;
    /* background: url('img/email-block-bg.jpg') no-repeat center top; */

    background: url('img/email-block-bg-ready.jpg') no-repeat center top;
    -webkit-background-size: cover;
            background-size: cover;
}
.newsletter::before{
    /* content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	
	background-image: linear-gradient(to right, #cb0035, #e06900);
	opacity: .8; */
    /* background-image: linear-gradient(to right, rgba(203, 0, 53, 0.8), rgba(224, 105, 0, 0.8)); */
}

.newsletter .wrapper{
    position: relative;
    z-index: 1000;

    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;
            flex-direction: column;

    box-sizing: border-box;
    /* background: #a71c40; */
    max-width: 1200px;
    height: 100%;
    padding: 50px;

    text-align: center;

    color: white;

    -webkit-flex-direction: column;
       -moz-flex-direction: column;
        -ms-flex-direction: column;
         -o-flex-direction: column;
    justify-content: center;
}

.newsletter__heading{
    font-size: 48px;
}



/* FORM */

input,
textarea{
    outline: none;
}
input:active,
textarea:active{
    outline: none;
}
:focus{
    outline: none;
}

.form-field__container{
    position: relative;

    box-sizing: border-box;
    /* background: #6c6264; */
    width: 400px;
    height: 50px;
    margin: auto;

    border-radius: 50px;
}

::placeholder{
    opacity: .5;
    color: #fff;
}
.email-field{
    font-weight: bold;

    position: relative;
    position: absolute;
    left: 0;

    box-sizing: border-box;
    width: 77.5%;
    height: 100%;
    padding-right: 55px;
    padding-left: 30px;

    cursor: pointer;
    transition: .4s;

    color: white;
    border: 1px solid rgba(255, 255, 255, .4);
    border-radius: 50px;
    background: rgba(255, 255, 255, .2);
}
.email-field:focus{
    /* background: rgba(255, 255, 255, 0.5); */
    /* color: #d32721; */
    border: 1px solid rgba(255, 255, 255, 1);
}
.email-field:focus::placeholder{
    /* color: #d32721; */
}

.submit-button{
    position: absolute;
    /* display: none; */
    z-index: 100;
    right: 5px;

    width: 135px;
    height: 100%;

    cursor: pointer;
    transition: .4s;

    color: #d32721;
    border: none;
    border-radius: 50px;
    background: white;
    /* opacity: 0.2; */
}

.submit-button::before{
    position: absolute;
    z-index: -100;
    top: -1px;
    left: -1px;

    display: block;

    width: 102%;
    height: 102.5%;

    content: '';
    transition: opacity .45s;

    opacity: 0;
    border-radius: 50px;
    background-image: linear-gradient(45deg, rgba(203, 0, 53, 1.0), rgba(224, 105, 0, 1));
}
.submit-button:hover::before{
    opacity: 1;
}
.submit-button:hover{
    /* background: #cb0035; */
    color: white;
}


/* map */
.map{
    height: 55vh;

    background: white url('img/map-image.jpg') no-repeat center top;
    -webkit-background-size: cover;
            background-size: cover;
}
