/* FONTS */
@font-face {
    font-family: 'Abraham';
    font-style: normal;
    font-weight: normal;
    src: local('Abraham'), url(../fonts/AbrahamLincoln.woff) format('woff');
    
}
/* FONTS END */



body {
    /* background: rgba(0, 200, 0, 0.5); */
    font-family: 'Abraham';
    font-size: 55px;
}