.footer {
    color: rgba($white, .8);
    padding-right: 40px;

    &__footnote {
        font-size: 18px;
        display: flex;
        justify-content: space-between;
        padding: 32px 0 36px;
    }
}

.footnote {

    &__right-side {
        padding-right: 64px;
    }
}