.side-nav {
    background: transparent;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 900;

    width: 96px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .menu-btn {
        background: transparent;
        margin-top: 28px;
        padding: 10px;
        z-index: 501;

        // background: rgba($color: firebrick, $alpha: 0.5);

        display: flex;
        justify-content: center;
        align-items: center;
        // border: 1px solid grey;
        border: none;
        outline: 0;
        cursor: pointer;
    }

    .menu-btn {

        svg {
            transition: all 240ms ease;
            stroke: rgba(255, 255, 255, 0.8);
        }

        &:hover svg {
            // transform: scale(1.08);
            stroke: rgba(255, 255, 255, 1);
        }
        &:hover span {
            background: rgba(255, 255, 255, 1);
        }
    }

    &__social {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 501;

        li {
            margin-bottom: 32px;
            margin-top: 8px;

            &:last-child {
                margin-bottom: 38px;
            }
        }

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20px;
            height: 20px;

        }
    }

    svg {
        transition: fill 0.2s ease-in-out, stroke 0.2s ease-in-out;
        fill: rgba(255, 255, 255, 0.8);
    }

    a:hover svg {
        fill: rgba(255, 255, 255, 1);
    }
}