@font-face {
    font-family: 'Cera Pro';
    src: url("../fonts/cera-pro/regular/CeraPro-Regular.eot");
    src: url("../fonts/cera-pro/regular/CeraPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/cera-pro/regular/CeraPro-Regular.woff") format("woff"), url("../fonts/cera-pro/regular/CeraPro-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro Medium';
    src: url("../fonts/cera-pro/medium/CeraPro-Medium.eot");
    src: url("../fonts/cera-pro/medium/CeraPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/cera-pro/medium/CeraPro-Medium.woff") format("woff"), url("../fonts/cera-pro/medium/CeraPro-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: url("../fonts/cera-pro/bold/CeraPro-Bold.eot");
    src: url("../fonts/cera-pro/bold/CeraPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/cera-pro/bold/CeraPro-Bold.woff") format("woff"), url("../fonts/cera-pro/bold/CeraPro-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}