/* ===== fonts ===== */

/* ===== fonts END ===== */
html,
body{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif !important;
    font-size: 1rem;
    line-height: 1.4;
    font-weight: 600;
    /* min-width: 1230px; */
    /* min-height: 2000px; */

    overflow-x: hidden;

    background-color: #fff;

    /* background-color: #11a565; */
}

a{
    -webkit-transition: .4s;
            transition: .4s;
    text-decoration: none;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.clearfix{
    clear: both;

    content: '';
}
.container--global{
    /* background: #c2c2c2; */
    width: 100%;
    max-width: 1230px;
    /* max-width: 1200px; */
    margin: auto;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
}

/*old*/
/* .visually-hidden{
    position: absolute;

    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
} */
/*new*/
/* .visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden{
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
} */
.visually-hidden:not(:focus):not(:active){
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    white-space: nowrap;

    border: 0;

    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
}

*::-moz-selection{
    color: #fffb00;
    background: black;
}

*::selection{
    color: #fffb00;
    background: black;
}

.button{
    font-size: 20px;
    line-height: 20px;

    display: inline-block;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px 25px;

    -webkit-transition: all .4s ease;

    transition: all .4s ease;
    text-transform: uppercase;

    color: #000;
    border: 2px solid #000;
    /* background: #fff; */
    background: transparent;
}


.button:hover{
    color: #fff !important;
    background: #000;
}


/* Header */
@-webkit-keyframes fadeDown {
    0% {
        -webkit-transform: translateY(-150px);
                transform: translateY(-150px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes fadeDown {
    0% {
        -webkit-transform: translateY(-150px);
                transform: translateY(-150px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
        opacity: 1;
    }
}

@-webkit-keyframes reveal{
    0% {opacity: 0; -webkit-transform: translateY(-10px); transform: translateY(-10px);}
    50% {opacity: 0;}
    100% {opacity: 1; -webkit-transform: translateY(0); transform: translateY(0);}
}

@keyframes reveal{
    0% {opacity: 0; -webkit-transform: translateY(-10px); transform: translateY(-10px);}
    50% {opacity: 0;}
    100% {opacity: 1; -webkit-transform: translateY(0); transform: translateY(0);}
}

.page-header{
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    left: 0;

    -webkit-animation-name: reveal;

            animation-name: reveal;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;

    background: #fff;
}

.page-header .container--global{
    position: relative;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         -webkit-box;
    display:         -ms-flexbox;
    display:         flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                    flex-direction: row;

    /* background: rgba(200, 0, 0, .2); */
       -moz-flex-direction: row;
        -ms-flex-direction: row;
         -o-flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header-logo{
    padding-top: 3px;
}

.page-header .contacts{
    font-size: 12px;
    font-weight: 600;

    /* position: absolute; */
    /* left: 20px; */
    margin-right: 20px;
    margin-left: auto;

    letter-spacing: 2px;
    order: 2;
}

/* Header NAV */
.header__navigation{
    /* position: relative; */
    /* left: 20px; */
    order: 1;
    /* justify-self: flex-end; */
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         -webkit-box;
    display:         -ms-flexbox;
    display:         flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-align-items: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
    /* padding-top: 5px; */
}

.navigation__list{
    font-size: 14px;
    line-height: 30px;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         -webkit-box;
    display:         -ms-flexbox;
    display:         flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                    flex-direction: row;

    margin: 0;
    margin-left: 30px;
    margin-top: auto;
    margin-bottom: auto;
    /* margin-top: 10px; */
    padding: 0;

    list-style-type: none;

    text-transform: uppercase;
    -moz-flex-direction: row;
     -ms-flex-direction: row;
      -o-flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-align-items: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
}

.navigation__list .nav__link{
    font-weight: bold;

    position: relative;

    display: block;

    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;

    -webkit-transition: all .4s ease;

    transition: all .4s ease;
    /* margin-right: 10px; */
    letter-spacing: 2px;

    color: #000;
}

.navigation__list .nav__link::after{
    position: absolute;
    right: 100%;
    /* bottom: -3px; */
    bottom: 0;
    left: 0;

    height: 100%;

    content: '';
    -webkit-transition: all .4s ease;
    transition: all .4s ease;

    background: #000;
}

.navigation__list .nav__link:hover{
    color: #fff;
}

.navigation__list .nav__link:hover::after{
    /* height: 100%; */
    z-index: -1;
    right: 0;
}
/* Header NAV END */

.page-header .wrapper{
    /* position: absolute; */
    /* right: 20px; */
    order: 3;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         -webkit-box;
    display:         -ms-flexbox;
    display:         flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                    flex-direction: row;
       -moz-flex-direction: row;
        -ms-flex-direction: row;
         -o-flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-align-items: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
}

.page-header .language__navigation{
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         -webkit-box;
    display:         -ms-flexbox;
    display:         flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                    flex-direction: row;

    margin-right: 30px;
    -moz-flex-direction: row;
     -ms-flex-direction: row;
      -o-flex-direction: row;
}

.page-header .language__navigation a{
    font-size: 10px;

    text-transform: uppercase;

    color: #797979;
    display: block;
    padding: 5px 10px;
    padding-bottom: 3px;
    border-bottom: 2px solid transparent;

    -webkit-transition: all 0.4s ease;

    transition: all 0.4s ease;

    position: relative;
}
.page-header .language__navigation a:hover{
    /* background: #000; */
    /* color: #fff; */
    border-bottom: 2px solid #000;
}

.current_language a{
    font-weight: bold;
    color: #000 !important;
    cursor: default;
}

/* Shopping cart */
.shopping-cart{
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.shopping-cart .items-ammount{
    display: inline-block;
    /* background: rgba(0, 250, 0, 0.2); */
    padding: 5px;
    margin-right: 10px;
    position: relative;
}

.shopping-cart .items-ammount::before{
    content: '';
    position: absolute;
    display: block;
    left: -3.3px;
    top: 2px;
    width: 25px;
    height: 25px;

    -webkit-box-sizing: border-box;

            box-sizing: border-box;
    border: 1px solid #000;

    /* background: gray; */ 
    z-index: -1;
    border-radius: 100%;
}

.shopping-cart .items-price{
    display: inline-block;
    padding-left: 10px;
    position: relative;
}

.shopping-cart .items-price::before{
    content: '$ ';
    font: inherit;
    position: absolute;
    left: 0;
}




/* Promo Slider Block */
#promo-slider *{
    font-family: 'Roboto', sans-serif;

    letter-spacing: 3px;
    text-transform: uppercase;

    color: #000;
    /* height: 100vh; */
}

#promo-slider .swiper-button-white{
    -webkit-filter: brightness(0);
            filter: brightness(0);
}

.slider__title-wrapper{
    /* background: rgba(255, 255, 255, .5); */
}




/* TABS Conent Catalog */
.catalog{
    /* height: 1080px; */
    /* padding-top: 1080px; */
    /* position: relative; */
    /* background: #000; */

    /* overflow: hidden; */
    /* margin-top: 100px; */
}

.catalog-bg-image{
    /* box-shadow: inset 0 0 0 2px red; */
}

.catalog .tabs a span{
    position: absolute;
    left: 42%;
    top: 45%;
    background: #fff;
    display: inline-block;
    line-height: 1;
    color: #000;
    letter-spacing: 2px;
}

.catalog-item a{
    /* box-shadow: inset 0 0 0 2px rgba(0, 0, 250, 1.0); */
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    padding: 40px 23px;
    position: relative;

    -webkit-box-sizing: border-box;

            box-sizing: border-box;

    -webkit-transition: all 0.4s ease;

    transition: all 0.4s ease;

    border: 1px solid rgba(0, 0, 0, 0);
}

.catalog-item a:hover{
    border: 1px solid rgba(0, 0, 0, 0.85);
}

.catalog-item a:hover .item-category{
    /* opacity: 1; */
    color: rgba(0, 0, 0, 0.65);
}

.catalog-item p{
    /* box-shadow: inset 0 0 0 2px rgba(0, 220, 0, 1.0); */
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -ms-align-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-transform: uppercase;
    fill-size: 14px;
    font-weight: 400;
    color: #000;
    margin-top: 15px;
}

.catalog-item .item-price{
    font-weight: 600;
    padding-left: 15px;
    position: relative;
}

.catalog-item .item-price::before{
    content: '$ ';
    position: absolute;
    font: inherit;
    left: 0;
}

.item-category{
    background: #fff;
    position: absolute;
    top: -15px;
    left: 33%;
    display: block;
    padding: 5px 10px;
    color: rgba(0, 0, 0, 0);
    /* opacity: 0; */
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
}



.heading{
    font-size: 35px;
    text-align: center;
    font-weight: 400;
    color: #000;
    margin-bottom: 50px;
    text-transform: uppercase;
}

/* Tabs Current */
/* .tabs .current{} */
@-webkit-keyframes showUp{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes showUp{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.tabs_item{
    -webkit-animation-name: showUp;
            animation-name: showUp;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;

    background: transparent;
}


/* Advantages */
.advantages{
    padding-bottom: 120px;
}

.advantages .container--global{
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -ms-align-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.advantages .container--global p{
    width: 55%;
    min-width: 300px;
    text-align: center;
    margin-bottom: 80px;
}


/* Slider */
.advantages__slder{
    width: 50%;
    min-width: 300px;
}

.advantages__slder img{
    /* transform: scaleX(-1); */
}

.advantages__slder{
    margin-bottom: 80px;
    /* box-shadow: inset 0 0 0 2px darkcyan; */
    padding: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}




/* Footer */
.page-footer{
    background: #e7e7e7;

    padding-top: 70px;
    padding-bottom: 70px;
}

.page-footer .container--global{
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-align-items: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}

.footer__logo{
    margin-top: 5px;
}

.footer-navigation .user__navigation{
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-align-items: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}

.footer-navigation .footer__sub-list{
    margin-left: 30px;
    margin-right: 30px;
    font-size: 14px;
}

.footer-navigation .footer__sub-list a{
    color: rgba(0, 0, 0, 0.65);
    display: inline-block;
    padding: 10px 0px;
    font-weight: bold;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    position: relative;
    z-index: 2;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.footer-navigation .footer__sub-list a span{
    z-index: 2;
    display: block;
}

.footer-navigation .footer__sub-list a::before{
    content: '';
    position: absolute;
    top: 0;
    left: -10px;
    bottom: 0;
    width: 0px;
    background: #000;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    z-index: -1;
}

.footer-navigation .footer__sub-list a:hover{
    color: white;
}

.footer-navigation .footer__sub-list a:hover::before{
    width: calc(100% + 20px);
}

.heading--small{
    font-weight: bold;
    margin-bottom: 25px;
}

/* Contact US */
.our-contacts{
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;

    letter-spacing: 2px;
    margin-bottom: 20px;
}

.our-contacts span{
    margin-bottom: 12px;
}

/* Email FORM */
.send-email-form{
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -ms-align-items: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}

.send-email-form label{
    /* margin: 0; */
    /* padding: 0; */
    position: relative;
}

.email-input-label p{
    margin-bottom: 15px;
}

.email-input{
    display: block;
    
    border: none;
    background: transparent;
    border-bottom: 1px solid #000;

    margin-right: 15px;

    font-size: 16px;
    padding: 5px 10px;
    font-weight: bold;

    outline: none;

    -webkit-transition: all 0.4s ease;

    transition: all 0.4s ease;
    position: relative;
    z-index: 2;
    color: white;
}

.email-input-container{
    display: block;
    position: absolute;
    /* top: 100%; */
    height: 1px;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 1);
    z-index: 1;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;

}

.email-input:focus + .email-input-container{
    /* top: 40%; */
    height: 50%;
}

.submit-button{
    display: inline-block;
    position: relative;
    right: 0;
    bottom: 0px;
    width: 25px;
    height: 25px;
    margin-left: 20px;

    background: url('../img/email-button-icon.png') no-repeat center center;
    border: none;
    cursor: pointer;

    -webkit-transition: all 0.4s ease;

    transition: all 0.4s ease;
    position: relative;
}

.submit-button:hover{
    /* background: url('../img/email-button-icon-white.png') no-repeat center center; */
}