/* ===== fonts ===== */
/* normal / normal*/
@font-face{
    font-family: 'Apercu Pro';
    font-weight: normal;
    font-style: normal;

    src: local('Apercu Pro'),
    url('../fonts/ApercuPro-Regular.otf');
}
/* normal / italic */
@font-face{
    font-family: 'Apercu Pro';
    font-weight: normal;
    font-style: italic;

    src: local('Apercu Pro'),
    url('../fonts/ApercuPro-RegularItalic.otf');
}
/* bold / normal */
@font-face{
    font-family: 'Apercu Pro';
    font-weight: bold;
    font-style: normal;

    src: local('Apercu Pro'),
    url('../fonts/ApercuPro-Bold.otf');
}
/* bold / italic */
@font-face{
    font-family: 'Apercu Pro';
    font-weight: bold;
    font-style: italic;

    src: local('Apercu Pro'),
    url('../fonts/ApercuPro-BoldItalic.otf');
}
/* lighter / normal */
@font-face{
    font-family: 'Apercu Pro';
    font-weight: lighter;
    font-style: normal;

    src: local('Apercu Pro'),
    url('../fonts/ApercuPro-Light.otf');
}
/* medium / normal */
@font-face{
    font-family: 'Apercu Pro';
    font-weight: medium;
    font-style: normal;

    src: local('Apercu Pro'),
    url('../fonts/ApercuPro-Medium.otf');
}
/* ===== fonts END ===== */

body{
    font-family: 'Apercu Pro', 'Arial', sans-serif;
    line-height: 1.4;

    background-color: #141518;
}

.clearfix{
    clear: both;

    content: '';
}
.container--global{
    width: 100%;
    max-width: 1400px;
    margin: auto;
}
.wrapper{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding-right: 10px;
    padding-bottom: 80px;
    padding-left: 10px;

    text-align: left;
}
/* ////// Heading styles \\\\\ */
.heading{
    font-size: 48px;
    font-weight: normal;

    position: relative;

    display: block;

    margin: 0 auto;
    padding: 50px 0 34px 0;

    text-align: center;
    letter-spacing: -.02em;

    color: #2e2e2e;
}
.heading::after{
    display: block;

    width: 3vw;
    height: 3px;
    margin: 30px auto auto auto;

    content: '';

    border-radius: 5px;
    background: #ef3946;
}
.heading--light{
    color: white;
}
.heading--promo{
    font-size: 60px;

    display: inline-block;

    margin: -15px 0 15px 0;
    padding: 0 0 5px 0;

    text-align: center;
}

.heading--services{
    padding: 80px 0 34px 0;
}
.heading--no-line::after{
    display: none;
}
/* ////// Heading styles END \\\\\ */


.button{
    -moz-transition: .4s;
         transition: .4s;
    text-decoration: none;

    border-radius: 40px;
}
.button--grey:hover{
    border: 1px solid #dbdbdb;
    background: #dbdbdb;
}
.button--big{
    font-size: 12px;
    font-weight: 100;
    line-height: 28px;

    padding: 16px 50px;

    letter-spacing: .28em;
    text-transform: uppercase;
}
.button--red{
    color: white;
    border: 1px solid #ef3946;
    background: #ef3946;
}

/*==========  =========*/


/* ===== MOBILE VERSION ===== */
.open-menu{
    position: absolute;
    top: 5px;
    right: 30px;

    display: none;

    transition: .2s;

    color: #c5c5c5;
}
.open-menu:hover{
    color: #ef3946;
}

.overlay{
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;

    overflow-y: hidden;

    width: 100%;
    height: 0;

    transition: .5s;

    background-color: rgba(0,0,0, .9);
}

.overlay-content{
    position: relative;
    top: 25%;

    width: 100%;
    margin-top: 30px;

    text-align: center;
}

.overlay a{
    font-size: 36px;

    display: block;

    padding: 8px;

    transition: .3s;
    text-decoration: none;

    color: #818181;
}

.overlay a:hover,
.overlay a:focus{
    color: #ef3946;
}
.current-page:hover{
    cursor: pointer;
}

.overlay .closebtn{
    font-size: 60px;

    position: absolute;
    top: 20px;
    right: 45px;
}

@media screen and (max-height: 450px){
    .overlay{
        overflow-y: auto;
    }
    .overlay a{
        font-size: 20px;
    }
    .overlay .closebtn{
        font-size: 40px;

        top: 15px;
        right: 35px;
    }
}


/* ===== MOBILE VERSION END ===== */

/*============================== header =============================*/
.main-header{
    position: fixed;
    z-index: 2;
    top: 0;

    width: 100%;

    background: rgba(20, 21, 24, .98);
}
.main-header .container--global{
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;
            flex-direction: row;

    -webkit-flex-direction: row;
       -moz-flex-direction: row;
        -ms-flex-direction: row;
         -o-flex-direction: row;
    justify-content: space-between;
}
/* left block - nav */
.main-header__nav-block{
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;
            flex-direction: row;

    padding-left: 30px;

    -webkit-flex-direction: row;
       -moz-flex-direction: row;
        -ms-flex-direction: row;
         -o-flex-direction: row;
    justify-content: flex-start;
}

.header-logo{
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;

    margin-right: 20px;

    align-items: center;
}

.navigation{
    display: block;
}

/*logo*/
.header-logo__image img{
    display: block;

    margin: auto;
}
/*logo - END*/

/*navigation*/
.navigation__list{
    font-size: 16px;

    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;
    overflow: hidden;
            flex-direction: row;

    margin: 0;
    padding: 0;

    list-style-type: none;

    letter-spacing: .7px;

    -webkit-flex-direction: row;
       -moz-flex-direction: row;
        -ms-flex-direction: row;
         -o-flex-direction: row;
}

.navigation__item a{
    display: block;

    padding: 18px 20px 18px 20px;

    transition: .2s;
    text-decoration: none;

    color: #ebebeb;
}
/*after testing*/
.navigation__item a::after{
    position: relative;
    top: 30px;

    display: block;

    width: 100%;
    height: 2px;
    margin: auto;

    content: '';
    transition: .2s;

    border-radius: 5px;
    background: transparent;
}
/*after testing*/
.navigation__item a:hover{
    transition: .2s;

    color: #ef3946;
}

.navigation__item a:hover::after{
    top: 10px;

    background: #ef3946;
}

.navigation-item--current a::after{
    position: relative;
    top: 10px;

    display: block;

    width: 100%;
    height: 2px;
    margin: auto;

    content: '';
    transition: .2s;

    border-radius: 5px;
    background: #555556;
}
.navigation-item--current a:hover::after{
    top: 10px;

    background: #555556;
}

.navigation-item--current a{
    cursor: default;

    color: #555556;
}

.navigation-item--current a:hover{
    cursor: default;

    color: #555556;
}
/*navigation - END*/
/* left block - nav - END */


/* right block - support */
.main-header__support{
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;
            flex-direction: row;

    margin-left: auto;
    padding-right: 30px;

    -webkit-flex-direction: row;
       -moz-flex-direction: row;
        -ms-flex-direction: row;
         -o-flex-direction: row;
    -ms-align-items: baseline;
        align-items: baseline;
}

.main-header__dropdown{
    position: relative;

    display: inline-block;

    cursor: pointer;
}
.main-header__dropdown-content{
    position: absolute;
    z-index: 2;

    display: none;

    min-width: 50px;
    margin-top: 0;

    background-color: rgba(20, 21, 24, .98);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.2);
}
.main-header__dropdown-content a{
    display: block;

    padding: 12px 10px;

    text-decoration: none;

    color: #6b6c6c;
}
.main-header__dropdown-content a:hover{
    color: #ef3946;
}
.main-header__dropdown:hover .main-header__dropdown-content{
    display: block;
}

.support__list{
    font-size: 16px;

    display: block;

    padding: 19px 17px 19px 15px;

    -moz-transition: .3s;
         transition: .3s;
    text-decoration: none;

    color: #6b6c6c;
    background-image: url(../img/arrow-down-lang.png);
    background-repeat: no-repeat;
    background-position: right 50%;
}
.support__list:hover{
    color: #ef3946;
}

.contacts__number{
    display: block;

    margin-right: 20px;
    margin-left: 25px;

    cursor: default;

    color: #6b6c6c;
}
.contacts__number::before{
    background: url('../img/sprite.png') -10px -162px no-repeat;
}

.contacts__bg-icon::before{
    position: relative;
    top: -1px;
    left: -10px;

    display: block;
    float: left;

    width: 24px;
    height: 24px;
    margin: auto;

    content: '';

    opacity: .5;
}

.support__button{
    display: block;
}
.button--small--dark{
    padding: 5px 18px 6px 18px;

    color: #ebebeb;
    border: 1px solid #2c2d30;
    background: #2c2d30;
}
.button--small--dark:hover{
    cursor: default;
}
/* right block - support - END */

/*============================== header END =============================*/



/*============================== support-promo =============================*/
.support-promo{
    /* background: #0f275d; */
    position: relative;

    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;
            flex-direction: column;

    min-height: 500px;
    margin: 0 auto;

    text-align: left;

    color: white;

    -webkit-flex-direction: column;
       -moz-flex-direction: column;
        -ms-flex-direction: column;
         -o-flex-direction: column;
    justify-content: flex-start;
}
.support-promo .wrapper{
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;
            flex-direction: row;

    padding: 140px 0 100px 0;

    -webkit-flex-direction: row;
       -moz-flex-direction: row;
        -ms-flex-direction: row;
         -o-flex-direction: row;
    justify-content: space-between;
}

.support-promo__content{
    width: 40%;
}
.support-promo__content p{
    font-size: 20px;

    color: #f0f0f0;
}

.breadcrumbs{
    font-size: 16px;

    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;
            flex-direction: row;

    color: #808080;

    -webkit-flex-direction: row;
       -moz-flex-direction: row;
        -ms-flex-direction: row;
         -o-flex-direction: row;
    -ms-align-items: baseline;
        align-items: baseline;
}
.breadcrumbs a{
    display: inline-block;

    padding: 10px 15px 10px 0;

    transition: .2s;
    text-decoration: none;

    color: #fff;
}
.breadcrumbs a:hover{
    color: #ef3946;
}

.heading--promo{
    display: inline-block;

    margin: auto auto auto 0;

    text-align: left;
}
.heading--promo::after{
    display: block;

    width: 3vw;
    height: 3px;
    margin: 30px auto auto auto;
    margin: 30px auto 0 5px;

    content: '';

    border-radius: 5px;
    background: #ef3946;
}

/* Support form */
.support-form-block{
    width: 52%;
    padding-top: 180px;
}

.support-form-block .input-fields{
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;
            flex-direction: row;

    -webkit-flex-direction: row;
       -moz-flex-direction: row;
        -ms-flex-direction: row;
         -o-flex-direction: row;
    justify-content: space-between;
}
.support-form-block .input-fields input{
    font-family: 'Apercu Pro', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: normal;

    display: block;

    width: 100%;
    margin-bottom: 50px;
    padding-top: 10px;
    padding-bottom: 10px;

    cursor: pointer;
    transition: .3s;
    letter-spacing: 2px;

    color: rgba(255, 255, 255, .8);
    border: none;
    border-bottom: 2px solid #8a8a8c;
    background: #141518;
}

input,
textarea{
    outline: none;
}
input:active,
textarea:active{
    outline: none;
}
:focus{
    outline: none;
}

.support-form-block .input-fields input:focus{
    border-bottom: 2px solid #ef3946;
}


/* Placeholder */
::-webkit-input-placeholder{
    font-size: 14px;

    letter-spacing: 2px;
    text-transform: uppercase;

    color: rgba(255, 255, 255, .5);
}

:-ms-input-placeholder{
    font-size: 14px;

    letter-spacing: 2px;
    text-transform: uppercase;

    color: rgba(255, 255, 255, .5);
}

::-ms-input-placeholder{
    font-size: 14px;

    letter-spacing: 2px;
    text-transform: uppercase;

    color: rgba(255, 255, 255, .5);
}

::placeholder{
    font-size: 14px;

    letter-spacing: 2px;
    text-transform: uppercase;

    color: rgba(255, 255, 255, .5);
}

.input-fields .form--left,
.input-fields .form--right{
    width: 43%;
}

.support-form-block textarea{
    font-family: 'Apercu Pro', 'Arial', sans-serif;
    font-size: 18px;
    line-height: 12px;

    display: block;

    width: 100%;
    height: 15px;
    margin-bottom: 50px;
    padding-top: 10px;
    padding-bottom: 10px;

    resize: none;
    cursor: pointer;
    -webkit-transition: all .5s; /* Safari */
            transition: all .5s;
    letter-spacing: 1px;

    color: rgba(255, 255, 255, .8);
    border: none;
    border-bottom: 2px solid #8a8a8c;
    background: #141518;
}
.support-form-block textarea:focus{
    height: 100px;

    border-bottom: 2px solid #ef3946;
}

input[type='submit']{
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;

    padding: 16px 50px;

    cursor: pointer;
    transition: .4s;
    letter-spacing: .28em;
    text-transform: uppercase;

    color: white;
    border: 1px solid #ef3946;
    border-radius: 50px;
    background: #ef3946;
}
input[type='submit']:hover{
    color: black;
    border: 1px solid white;
    background: white;
}


/*============================== support-promo END =============================*/




/*============================== footer =============================*/
.page-footer{
    font-size: 16px;

    padding: 40px 80px;

    color: rgba(225, 225, 225, .5);
    background: #121316;
}

.footer__content{
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;

    justify-content: space-between;
    -ms-align-items: stretch;
        align-items: stretch;
}

/*social*/
.footer__social{
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;
            flex-direction: column;

    -webkit-flex-direction: column;
       -moz-flex-direction: column;
        -ms-flex-direction: column;
         -o-flex-direction: column;
}
.footer__social span{
    display: block;
}

.footer__logo{
    width: 94px;
    height: 16px;
    margin-bottom: 25px;

    color: transparent;
    background: url(../img/footer-logo.png) left center no-repeat;
}

.footer__social__caption{
    padding-bottom: 12px;
}

.footer__social__links{
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;
            flex-direction: row;

    margin-top: 7px;

    -webkit-flex-direction: row;
       -moz-flex-direction: row;
        -ms-flex-direction: row;
         -o-flex-direction: row;
}
.footer__social__icon{
    display: block;

    width: 24px;
    height: 24px;
    margin-right: 10px;

    transition: .4s;

    opacity: .5;
    border-radius: 40px;
}
.footer__social__icon:hover{
    opacity: 1;
}
.footer__social__facebook{
    background-image: url(../img/facebook-white-icon.png);
}
.footer__social__twitter{
    background-image: url(../img/twitter-white-icon.png);
}
.footer__social__facebook:hover{
    background-color: #f03745;
}
.footer__social__twitter:hover{
    background-color: #f03745;
}

/*footer-navigation*/
.footer__navigation{
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;

    justify-content: space-between;
}

.footer__navigation__list{
    display: block;

    margin: 0;
    padding: 0 20px;

    list-style-type: none;
}
.footer__navigation__list a{
    display: block;

    margin-bottom: 23px;
    padding: 0 20px 0 20px;

    transition: .4s;
    text-align: left;
    text-decoration: none;

    color: #ebebeb;
    border-bottom: 3px solid transparent;
}
.footer__navigation__list a:hover{
    color: #f03745;
}

.footer__navigation_item--current a{
    cursor: default;

    color: rgba(225, 225, 225, .5);
}
.footer__navigation_item--current a:hover{
    color: rgba(225, 225, 225, .5);
}
/*footer-contacts*/
.footer__contacts{
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;

    color: rgba(225, 225, 225, .5);

    justify-content: space-between;
}
.footer__contacts__container{
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;
            flex-direction: column;

    -webkit-flex-direction: column;
       -moz-flex-direction: column;
        -ms-flex-direction: column;
         -o-flex-direction: column;
}
.footer__contacts--left{
    margin-right: 50px;
}

.footer__contacts__span{
    margin-bottom: 20px;
    padding-left: 0;
}


.footer__contacts__adress{
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;

    padding-left: 25px;

    justify-content: flex-start;
}


/*BG icons*/
.contacts__phone__icon::before{
    background: url('../img/sprite.png') -10px -162px no-repeat;
}
.contacts__whatsup__icon::before{
    background: url('../img/sprite.png') -60px -162px no-repeat;
}
.contacts__email__icon::before{
    background: url('../img/sprite.png') -110px -162px no-repeat;
}
.contacts__location__icon::before{
    background: url('../img/sprite.png') -160px -161px no-repeat;
}
.contacts__location__icon{
    margin-bottom: 0;
}

.copyright-text{
    display: block;

    margin-top: 65px;

    color: rgba(225, 225, 225, .5);
}
/*============================== footer END =============================*/



/*======================================== MEDIA ========================================*/
@media screen and (max-width: 1150px){
    .main-header__support{
        display: none;
    }
    .main-header .container--global{
        width: auto;
        margin: auto;
    }

    .wrapper{
        width: 96%;
    }
    .main-header{
        display: -webkit-flex;
        display:    -moz-flex;
        display:     -ms-flex;
        display:      -o-flex;
        display:         flex;
                flex-direction: row;

        -webkit-flex-direction: row;
           -moz-flex-direction: row;
            -ms-flex-direction: row;
             -o-flex-direction: row;
        justify-content: space-between;
    }

    .footer__content{
        display: -webkit-flex;
        display:    -moz-flex;
        display:     -ms-flex;
        display:      -o-flex;
        display:         flex;
                flex-direction: row;

        margin: 0;
        padding: 0 15px;

        -webkit-flex-direction: row;
           -moz-flex-direction: row;
            -ms-flex-direction: row;
             -o-flex-direction: row;
        -webkit-flex-wrap: wrap;
           -moz-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
             -o-flex-wrap: wrap;
                flex-wrap: wrap;
    }
    .footer__social{
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1000px){
}

@media screen and (max-width: 900px){
    .support-promo .wrapper{
                flex-direction: column;

        -webkit-flex-direction: column;
           -moz-flex-direction: column;
            -ms-flex-direction: column;
             -o-flex-direction: column;
    }
    .support-promo .wrapper .support-promo__content{
        width: 85%;
    }
    .support-promo .wrapper .support-form-block{
        width: 100%;
    }
}

@media screen and (max-width: 780px){
    .navigation,
    .main-header__support{
        display: none;
    }
    .open-menu{
        display: block;
    }
    .main-header{
        display: block;

        padding: 10px 0;
    }

    /*=========== FOOTER ===========*/
    .page-footer{
        padding: 20px 20px;
    }

    .footer__content{
        display: -webkit-flex;
        display:    -moz-flex;
        display:     -ms-flex;
        display:      -o-flex;
        display:         flex;

        justify-content: space-between;
        flex-wrap: wrap;
    }
    .footer__social{
        display: -webkit-flex;
        display:    -moz-flex;
        display:     -ms-flex;
        display:      -o-flex;
        display:         flex;

        margin-bottom: 10px;
    }
    .footer__social span{
        padding-bottom: 0;
    }
    .footer__logo{
        margin-right: 10px;
        padding-right: 40px;
    }
    .footer__navigation{
        justify-content: center;
    }
    .footer__contacts{
        width: 70%;
        margin: 20px auto;

        justify-content: space-between;
    }
    .copyright-text{
        margin-top: 10px;

        text-align: center;
    }
}

@media screen and (max-width: 660px){
    .footer__content{
                flex-direction: row;

        -webkit-flex-direction: row;
           -moz-flex-direction: row;
            -ms-flex-direction: row;
             -o-flex-direction: row;
        justify-content: center;
    }
    .footer__social{
        margin-bottom: 20px;
    }
    .footer__logo{
        margin: auto auto 20px auto;
        padding: 0;
    }
    .footer__social__links{
        display: -webkit-flex;
        display:    -moz-flex;
        display:     -ms-flex;
        display:      -o-flex;
        display:         flex;

        justify-content: center;
    }
    .footer__social__icon{
        margin: auto 10px;
    }
    .footer__contacts{
        display: -webkit-flex;
        display:    -moz-flex;
        display:     -ms-flex;
        display:      -o-flex;
        display:         flex;
                flex-direction: column;

        min-width: 50%;
        margin-bottom: 20px;

        -webkit-flex-direction: column;
           -moz-flex-direction: column;
            -ms-flex-direction: column;
             -o-flex-direction: column;
        justify-content: flex-end;
    }
    .footer__contacts__container{
        display: -webkit-flex;
        display:    -moz-flex;
        display:     -ms-flex;
        display:      -o-flex;
        display:         flex;
                flex-direction: column;

        margin: auto;

        -webkit-flex-direction: column;
           -moz-flex-direction: column;
            -ms-flex-direction: column;
             -o-flex-direction: column;
        justify-content: center;
    }
}

/*======================================== MEDIA - END ========================================*/
