@font-face {
  font-family: 'Cera Pro';
  src: url("../fonts/cera-pro/regular/CeraPro-Regular.eot");
  src: url("../fonts/cera-pro/regular/CeraPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/cera-pro/regular/CeraPro-Regular.woff") format("woff"), url("../fonts/cera-pro/regular/CeraPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro Medium';
  src: url("../fonts/cera-pro/medium/CeraPro-Medium.eot");
  src: url("../fonts/cera-pro/medium/CeraPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/cera-pro/medium/CeraPro-Medium.woff") format("woff"), url("../fonts/cera-pro/medium/CeraPro-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro';
  src: url("../fonts/cera-pro/bold/CeraPro-Bold.eot");
  src: url("../fonts/cera-pro/bold/CeraPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/cera-pro/bold/CeraPro-Bold.woff") format("woff"), url("../fonts/cera-pro/bold/CeraPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

.btn {
  z-index: 0;
  font-family: inherit;
  outline: 0;
  text-align: center;
  border: none;
  font-weight: 600;
  font-size: 17px;
  line-height: 1;
  text-transform: uppercase;
  padding: 14px 28px 16px;
  color: #141414;
  cursor: pointer;
  position: relative;
  background: transparent;
  transition: all 240ms ease;
}

.btn:after {
  transition: all 240ms ease;
  border-radius: 40px;
  z-index: -1;
  position: absolute;
  content: '';
  background: #fff;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.btn--colored {
  color: #fff;
}

.btn--colored:after {
  background: #D82E19;
}

.btn:hover:after {
  transform: scale(1.032);
}

.btn:active:after {
  transform: scale(0.99);
  opacity: .9;
}

.page-up {
  outline: 0;
  border: 0;
  position: fixed;
  z-index: 100;
  right: 32px;
  bottom: 22px;
  padding: 24px;
  border-radius: 40px;
  cursor: pointer;
  background: transparent url(../img/pageup-3.svg) center no-repeat;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.04), 0px 0px 4px rgba(0, 0, 0, 0.06), 0px 4px 8px rgba(0, 0, 0, 0.04);
  visibility: hidden;
  transition: 0.2s;
  opacity: 0;
}

.page-up:hover {
  background: rgba(255, 255, 255, 0.3) url(../img/pageup-2.svg) center no-repeat;
}

.page-up--visible {
  visibility: visible;
  transition: 0.2s;
  opacity: 0.8;
}

.header {
  padding-right: 40px;
  line-height: 1;
  color: #fff;
  height: 96px;
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 40px;
}

.header__nav {
  margin-bottom: 4px;
  list-style: none;
  font-size: 0;
}

.header__nav li {
  margin-right: 40px;
  font-size: 20px;
  display: inline-block;
}

.header__apply {
  margin-left: auto;
}

.main-nav {
  position: fixed;
  z-index: 500;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: #fff;
  box-sizing: border-box;
  visibility: hidden;
  transition: visibility 0.5s, opacity 500ms linear;
}

.main-nav .main-menu-content > * {
  opacity: 0;
}

.main-nav .open-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 500ms linear;
  z-index: 1;
}

.main-nav .main-menu {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  transition: 800ms;
  background: #000;
  box-sizing: border-box;
  padding: 36px 96px 64px;
  transform: translateY(-100%);
  z-index: 10;
}

.main-nav .main-menu .header__logo {
  margin-left: 0;
  margin-right: auto;
}

.main-nav .main-menu-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: #fff;
  padding-top: 16px;
}

.main-nav .main-menu-content a {
  color: white;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 1px;
  transition: all ease 400ms;
  padding-bottom: .2em;
}

.main-nav .main-menu-content a:hover, .main-nav .main-menu-content a:focus {
  color: inherit;
  text-decoration: none;
  background-size: 100% 1px;
}

.main-nav .main-menu__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 320px;
  width: auto;
  padding: 0;
  margin: 0;
  margin-right: 72px;
  font-size: 36px;
}

.main-nav .main-menu__list--secondary {
  margin-top: 14px;
  font-size: 22px;
}

.main-nav .main-menu__list--secondary a {
  margin-bottom: 4px;
}

.main-nav .main-menu__list:last-of-type {
  margin-right: 5px;
}

.main-nav .main-menu__list a {
  display: inline-block;
  padding: 4px 0;
}

.main-nav--open {
  height: 100%;
  opacity: 1;
  visibility: visible;
  transition: visibility 0.5s, opacity 0.5s linear;
}

.main-nav--open .main-menu-content > * {
  opacity: 1;
  transition: opacity 800ms;
}

.main-nav--open .main-menu-content > *:nth-child(1) {
  transition-delay: 240ms;
}

.main-nav--open .main-menu-content > *:nth-child(2) {
  transition-delay: 360ms;
}

.main-nav--open .main-menu-content > *:nth-child(3) {
  transition-delay: 400ms;
}

.main-nav--open .open-bg {
  opacity: 1;
  transition: opacity 500ms linear;
}

.main-nav--open .main-menu {
  transform: translateY(0%);
  opacity: 1;
  transition: 800ms;
  transition-delay: 10ms;
}

.menu-contacts {
  display: flex;
  flex-direction: column;
  font-size: 28px;
  max-width: 320px;
  margin-left: auto;
  margin-top: -13px;
}

.menu-contacts h4 {
  color: #737373;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.2px;
  margin-bottom: 6px;
}

.menu-contacts a {
  display: inline-block;
}

.menu-contacts__b1, .menu-contacts__b2 {
  margin-bottom: 40px;
  display: block;
}

.menu-contacts__b1 button, .menu-contacts__b2 button {
  margin-top: 8px;
}

.menu-contacts__b2 {
  margin-bottom: 32px;
}

.menu-contacts__b3 {
  font-size: 20px;
}

.menu-contacts__b3 a {
  background-size: 100% 1px !important;
  background-position: 0 100% !important;
}

.menu-contacts__b3 a:hover {
  background-size: 0% 1px !important;
}

.side-nav {
  background: transparent;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 900;
  width: 96px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.side-nav .menu-btn {
  background: transparent;
  margin-top: 28px;
  padding: 10px;
  z-index: 501;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: 0;
  cursor: pointer;
}

.side-nav .menu-btn svg {
  transition: all 240ms ease;
  stroke: rgba(255, 255, 255, 0.8);
}

.side-nav .menu-btn:hover svg {
  stroke: white;
}

.side-nav .menu-btn:hover span {
  background: white;
}

.side-nav__social {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 501;
}

.side-nav__social li {
  margin-bottom: 32px;
  margin-top: 8px;
}

.side-nav__social li:last-child {
  margin-bottom: 38px;
}

.side-nav__social a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

.side-nav svg {
  transition: fill 0.2s ease-in-out, stroke 0.2s ease-in-out;
  fill: rgba(255, 255, 255, 0.8);
}

.side-nav a:hover svg {
  fill: white;
}

.content {
  background: #fff;
  border-radius: 24px 0px 0px 24px;
  margin-top: -24px;
  padding: 8px 40px 0;
  color: rgba(20, 20, 20, 0.8);
  overflow: hidden;
}

.content a {
  font-weight: 500;
  color: #D82E19;
  background-image: linear-gradient(120deg, rgba(216, 46, 25, 0.16) 0%, rgba(216, 46, 25, 0.16) 100%);
  background-repeat: no-repeat;
  background-size: 100% 4px;
  background-position: 0 100%;
  padding: 2px 0;
  transition: background-size 320ms ease;
}

.content a:hover {
  color: #D82E19;
  background-size: 100% 88%;
}

.content div {
  margin-bottom: 40px;
}

.content div:last-child {
  margin-bottom: 0;
}

h1 {
  color: inherit;
  font-weight: 600;
  font-size: 60px;
  font-size: calc(36px + (72 - 36) * ((100vw - 320px) / (1920 - 320)));
  line-height: 1;
}

h2 {
  font-size: 48px;
  margin-top: 0;
  margin-bottom: 1.4rem;
  font-size: calc(40px + (48 - 40) * ((100vw - 320px) / (1280 - 320)));
  letter-spacing: -1.8px;
  font-weight: 600;
  line-height: 1.1;
  color: #141414;
}

h2 + h3 {
  margin-top: -12px;
}

h3 {
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: calc(30px + (36 - 30) * ((100vw - 320px) / (1280 - 320)));
  letter-spacing: -1.4px;
  font-weight: 600;
  line-height: 1.2;
  color: #141414;
}

h4 {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: calc(22px + (24 - 22) * ((100vw - 320px) / (1280 - 320)));
  letter-spacing: -0.8px;
  font-weight: 600;
  line-height: 1.2;
  color: #141414;
}

.lead-text {
  margin-top: 16px;
  font-size: 36px;
  letter-spacing: -1.2px;
  line-height: 1.2;
  color: #141414;
}

.lead-text + p {
  margin-top: 16px;
}

p {
  margin-top: 0;
  margin-bottom: 16px;
  line-height: 1.4;
}

p + h2 {
  margin-top: 32px;
}

p + h3 {
  margin-top: 32px;
}

p + h4 {
  margin-top: 32px;
}

.colored {
  background: #090A0A;
  border-radius: 18px;
  margin-top: 40px !important;
  padding: 24px 40px 40px;
}

.colored--contrast p {
  color: rgba(255, 255, 255, 0.8);
}

.colored--contrast h2,
.colored--contrast h3,
.colored--contrast h4 {
  color: #fff;
}

.colored--contrast a {
  color: inherit !important;
  background-image: linear-gradient(120deg, rgba(255, 255, 255, 0.24) 0%, rgba(255, 255, 255, 0.24) 100%) !important;
}

.stretch-100-w {
  width: calc(100%+40px);
  border-radius: 0;
  margin: -40px;
}

.hero {
  padding: 0 40px;
  height: calc(100vh - 96px);
  border-radius: 24px 0px 0px 0px;
  display: flex;
  align-content: flex-end;
  flex-wrap: wrap;
}

.hero h1 {
  margin: 0;
  margin-bottom: 28px;
  margin-bottom: 2.2rem;
  letter-spacing: -.1rem;
}

.hero--dark {
  color: #fff;
  background: #000;
  background: linear-gradient(180deg, rgba(19, 20, 21, 0.3072) 0%, rgba(19, 20, 21, 0.64) 100%), url(../img/hero-cover-3.jpg), #3D3D3D;
  background-size: cover;
  background-position: 50% 50%;
}

.hero__meta {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.hero .meta-tags,
.hero .meta-share {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  font-size: 0;
  list-style: none;
  margin-bottom: 64px;
}

.hero li {
  display: inline-block;
  font-size: 16px;
  letter-spacing: -.2px;
  margin-right: 8px;
}

.hero li:last-child {
  margin-right: 0;
}

.hero li a {
  display: inline-block;
  color: rgba(255, 255, 255, 0.8);
  border-radius: 40px;
  border: 1px solid rgba(255, 255, 255, 0.56);
  padding: 8px 16px 10px;
  transition: all 240ms ease;
  margin-bottom: 8px;
}

.hero li a:hover {
  background: rgba(255, 255, 255, 0.04);
  border-color: rgba(255, 255, 255, 0.8);
}

.footer {
  color: rgba(255, 255, 255, 0.8);
  padding-right: 40px;
}

.footer__footnote {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  padding: 32px 0 36px;
}

.footnote__right-side {
  padding-right: 64px;
}

body {
  position: relative;
  padding: 0;
  padding-left: 96px;
  margin: 0;
  line-height: 1.3;
  font-size: 22px;
  letter-spacing: -.4px;
  background: #090A0A;
  font-family: 'Cera Pro', sans-serif;
}

a {
  color: white;
  text-decoration: none;
  transition: all 160ms ease;
}

a:hover {
  color: rgba(255, 255, 255, 0.8);
}

.container {
  position: relative;
}

.col-8-12 {
  width: 72%;
}
