@font-face {
    font-family: 'Domaine Sans Display';
    src: url('DomaineSansDisplay-BoldItalic.woff2') format('woff2'),
        url('DomaineSansDisplay-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Domaine Sans Display';
    src: url('DomaineSansDisplay-Bold.woff2') format('woff2'),
        url('DomaineSansDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Domaine Sans Display';
    src: url('DomaineSansDisplay-Light.woff2') format('woff2'),
        url('DomaineSansDisplay-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Domaine Sans Display';
    src: url('DomaineSansDisplay-LightItalic.woff2') format('woff2'),
        url('DomaineSansDisplay-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Domaine Sans Display';
    src: url('DomaineSansDisplay-Medium.woff2') format('woff2'),
        url('DomaineSansDisplay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Domaine Sans Display';
    src: url('DomaineSansDisplay-ThinItalic.woff2') format('woff2'),
        url('DomaineSansDisplay-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Domaine Sans Display';
    src: url('DomaineSansDisplay-Semibold.woff2') format('woff2'),
        url('DomaineSansDisplay-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Domaine Sans Display';
    src: url('DomaineSansDisplay-Thin.woff2') format('woff2'),
        url('DomaineSansDisplay-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Domaine Sans Display';
    src: url('DomaineSansDisplay-SemiboldItal.woff2') format('woff2'),
        url('DomaineSansDisplay-SemiboldItal.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Domaine Sans Display';
    src: url('DomaineSansDisplay-ExtraboldItalic.woff2') format('woff2'),
        url('DomaineSansDisplay-ExtraboldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Domaine Sans Display';
    src: url('DomaineSansDisplay-Italic.woff2') format('woff2'),
        url('DomaineSansDisplay-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Domaine Sans Display';
    src: url('DomaineSansDisplay-Extrabold.woff2') format('woff2'),
        url('DomaineSansDisplay-Extrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Domaine Sans Display';
    src: url('DomaineSansDisplay-Black.woff2') format('woff2'),
        url('DomaineSansDisplay-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Domaine Sans Display';
    src: url('DomaineSansDisplay-MediumItalic.woff2') format('woff2'),
        url('DomaineSansDisplay-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Domaine Sans Display';
    src: url('DomaineSansDisplay-Regular.woff2') format('woff2'),
        url('DomaineSansDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Domaine Sans Display';
    src: url('DomaineSansDisplay-BlackItalic.woff2') format('woff2'),
        url('DomaineSansDisplay-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}
