/* * {
	outline: 1px solid rgba(203, 0, 53, 0.4);
	background: rgba(203, 0, 53, 0.2);
}
* * {
	outline: 1px solid rgba(203, 0, 53, 0.4);
	background: rgba(203, 0, 53, 0.2);
} */
/* * * { outline: 2px dotted green; } */
* * * {
	/* Для проверки волженности */
	/* padding-top: 25px; */
	/* padding-left: 20px; */

	outline: 2px solid rgba(0, 180, 53, 0.8);
	background: rgba(0, 255, 53, 0.3);
	outline-offset: -2px;
}
* * *::before{
    background: rgba(0, 180, 53, 1);
    color: black;
    content: "."attr(class)"";
    top: 0px;
    left: 0px;
    /* transform: translateX(50px); */
}
/* * * * { outline: 2px dotted orange; } */
* * * * {
	outline: 2px solid rgba(203, 0, 53, 0.8);
	outline-offset: -2px;
	background: rgba(203, 0, 53, 0.3);
}
* * * *::before{
    background: rgba(203, 0, 53, 1);
    color: black;
    content: "."attr(class)"";
    top: 0px;
    left: 0px;
    /* transform: translateX(50px); */
}
/* * * * * { outline: 2px dotted blue; } */
* * * * * {
	outline: 2px solid rgba(41, 72, 154, 0.8);
	outline-offset: -2px;
	background: rgba(41, 72, 154, 0.3);
}
* * * * *::before{
    background: rgba(41, 72, 154, 1);
    color: black;
    content: "."attr(class)"";
    top: 0px;
    left: 0px;
    /* transform: translateX(50px); */
}
/* * * * * * { outline: 1px solid red; } */
* * * * * * {
	outline: 2px solid rgba(213, 219, 38, 0.8);
	outline-offset: -2px;
	background: rgba(213, 219, 38, 0.3);
}
* * * * * *::before{
    background: rgba(213, 219, 38, 1);
    color: black;
    content: "."attr(class)"";
    top: 0px;
    left: 0px;
    /* transform: translateX(50px); */
}
/* * * * * * * { outline: 1px solid green; } */
* * * * * * * {
	outline: 2px solid rgba(238, 151, 0, 0.8);
	outline-offset: -2px;
	background: rgba(238, 151, 0, 0.3);
}
* * * * * * *::before{
    background: rgba(238, 151, 0, 1);
    color: black;
    content: "."attr(class)"";
    top: 0px;
    left: 0px;
    /* transform: translateX(50px); */
}
/* * * * * * * * { outline: 1px solid orange; } */
* * * * * * * * {
	outline: 2px solid rgba(0, 224, 238, 0.8);
	outline-offset: -2px;
	background: rgba(0, 224, 238, 0./* 3 */);
}
* * * * * * * *::before{
    background: rgba(0, 224, 238, 1);
    color: black;
    content: "."attr(class)"";
    top: 0px;
    left: 0px;
    /* transform: translateX(50px); */
}
/* * * * * * * * * { outline: 1px solid blue; } */


* * *::before{
    content: "."attr(class)"";
    position: absolute;
    font-size: 14px;
    font-family: Monaco, monospace;
    font-weight: bold;
    padding: 2px 5px;
    top: 0;
    left: 0;
    /* color: white; */
    /* transform: translateX(50px); */
    /* background: rgba(0, 0, 0, 1); */
}
*{
	box-sizing: border-box;
    position: relative;
}