/* Featured videos */
.videos .plyr {
    height: 100%;
    display: flex;
    align-items: center;
}

.videos .plyr .plyr__video-wrapper {
    height: 100%;
}
.videos .plyr .plyr__poster {
    background-size: cover;
}

.videos .plyr--paused .plyr__controls {
    opacity: 0;
    z-index: 1;
}

.videos .plyr--paused .plyr__controls:hover {
    opacity: 1;
    z-index: 1;
}

.videos .plyr--stopped .plyr__controls {
    opacity: 0;
    z-index: -500;
}

.videos .plyr__control--overlaid {
    box-sizing: border-box;
    padding: 41px;
    background: rgba(255, 255, 255, 0.8);
}
.videos .plyr__control--overlaid:hover {
    /* background: #999999; */
}
.videos .plyr__control--overlaid svg {
    fill: #000;
}

.videos .plyr__control--overlaid:hover {
    /* background: #999999; */
    background: rgba(255, 255, 255, 1);
}
/* Featured videos - end */
